<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Chart</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1">
                    <div data-comp-id="text.1">Quarterly Sales across Brands</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2" style="margin: 12px 0px 0px;">
                <div class="col" data-comp-id="column.2" on-swipe="onSwipe()">
                    <custom-chart chart-data="data.chartdata" chart-labels="data.chartlabels"
                        chart-type="data.charttype" data-comp-id="chart.1">CHART</custom-chart>
                </div>
            </div>
        </div>
        <div class="row" data-comp-id="row.3" style="padding: 0px;">
            <div class="col text-center" data-comp-id="column.3" style="padding: 0px;">
                <div data-comp-id="text.2" style="font-size: 12px; color: rgb(102, 102, 102);">Brand</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4" style="padding: 0px 0px 0px 24px;">
            <div class="col" data-comp-id="column.4">
                <div data-comp-id="text.3" style="font-size: 12px;">Legends</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.5" style="padding: 8px 0px;">
            <div class="col col-offset-10" data-comp-id="column.5"
                style="max-width: 14px; height: 14px; background-color: rgb(234, 241, 245); border: 1px solid rgb(149, 185, 204);"></div>
            <div class="col" data-comp-id="column.6"
                style="max-width: 130px; height: 14px; padding: 0px;">
                <div data-comp-id="text.4"
                    style="font-size: 12px; color: rgb(102, 102, 102); margin: -4px 0px 0px 4px;">Quarter 1</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.6" style="padding: 8px 0px;">
            <div class="col assertive-bg col-offset-10" data-comp-id="column.7"
                style="max-width: 14px; height: 14px; background-color: rgb(248, 248, 248); border: 1px solid rgb(216, 216, 216);"></div>
            <div class="col" data-comp-id="column.8"
                style="max-width: 130px; height: 14px; padding: 0px;">
                <div data-comp-id="text.5"
                    style="font-size: 12px; color: rgb(102, 102, 102); margin: -4px 0px 0px 4px;">Quarter 2</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.7" style="padding: 8px 0px;">
            <div class="col assertive-bg col-offset-10" data-comp-id="column.9"
                style="max-width: 14px; height: 14px; background-color: rgb(253, 218, 219); border: 1px solid rgb(246, 55, 59);"></div>
            <div class="col" data-comp-id="column.10"
                style="max-width: 130px; height: 14px; padding: 0px;">
                <div data-comp-id="text.6"
                    style="font-size: 12px; color: rgb(102, 102, 102); margin: -4px 0px 0px 4px;">Quarter 3</div>
            </div>
        </div>
    </ion-content>
</ion-view>